.App {
  text-align: center;
}
.main{
	width: 70%;
	margin: 0 auto;
	padding-top: 20px;
}
.panel-container{
	width:70%;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
}
.panel-container li{
	list-style: none;
}
.panel-container ol{
	padding-left: 0;
}
.buttons{
	margin: 5px;
}

